/* RESET */

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    box-sizing: border-box;
    border: none;
    outline: none;
}

/* codigo de fonte anterior font-family: 'Roboto', sans-serif; */

img {
    max-width: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 2em;
    color: #333;
}

p {
    font-size: 1em;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
}

/* CABECALHO */

.cabecalho {
    width: 100%;
    float: left;
    padding: 50px 8%;
    background-image: linear-gradient(to right, #4F32F0, #8873FF);
    padding-bottom: initial;
}

.logo a {
    width: 84px;
    height: 97px;
    float: left;
    background-image: url(../Imagem/macabro.jpg);
    font-size: 0;
    border-radius: 10px;
}

.cabecalho form {
    width: 30%;
    float: right;
}

.cabecalho input[type="text"] {
    width: 85%;
    float: left;
    padding: 15px 10px;
    border-radius: 10px 0px 0px 10px;
    margin-top: 25px;
}

.cabecalho button {
    width: 15%;
    float: right;
    padding: 15px 10px;
    border-radius: 0px 10px 10px 0px;
    background-color: #4F32F0;
    color: white;
    cursor: pointer;
    margin-top: 25px;
}

.cabecalho h2 {
    font-family: 'Teko', sans-serif;
    float: left;
    color: #fff;
    font-size: 6em;
    margin-top: 3px;
    margin-left: 25px;
}

/* MENU */

.menu {
    width: 100%;
    float: left;
    background-color: #111;
    padding: 18px 8%;
}

.menu li {
    float: left;
}

.menu li a {
    color: #9d9d9d;
    padding: 18px;
}

.menu li a:hover {
    color: #fff;
    background-color: #4F32F0;
    max-height: 100%;
    transition: 0.5s;
}

/* SOCIAL ICONS */

.social-icons {
    float: right;
}

.social-icons a {
    color: #fff;
    float: left;
    margin-left: 25px;
}

.social-icons .fa-facebook-square:hover {
    color: #3b5998;
}

.social-icons .fa-twitter-square:hover {
    color: #1DA1F2;
}

.social-icons .fa-instagram:hover {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.social-icons .fa-envelope:hover {
    color: yellow;
}

.social-icons .fa-google:hover {
    color: #FF0000;
}

.social-icons .fa-youtube-square:hover {
    color: #FF0000;
}

.social-icons .fa-linkedin:hover {
    color: #0077b5;
}

/* PRINCIPAL */

.principal {
    width: 100%;
    float: left;
    padding: 16px 8%;

}

.sobre {
    width: 69%;
    float: left;
    padding: 0px 20px 20px 0px;
}

.sobre h2 {
    margin-bottom: 15px;
}

.sobre img {
    width: 50%;
    float: left;
    border-radius: 7px;
    margin: 0 15px 7px 0;
}

.sobre p {
    text-align: justify;
    font-size: 1.2em;
}

.avaliacao {
    margin: 15px 0 15px 0;
    float: left;
    border: 2px solid #111;
    border-radius: 10px;
}

.avaliacao p {
    width: 88%;
    height: 162px;
    padding: 10px;
    float: left;
}

.avaliacao span {
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}

.avaliacao img {
    width: 8.5%;
    margin: 10px 0 0 15px;
    border-radius: 15px;
}

/* ONDE-ESTAMOS - SIDE BAR */

.onde-estamos {
    width: 30%;
    float: right;
    padding: 15px 20px;
    background-color: #111;
    border-radius: 10px;
}

.onde-estamos h2 {
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
}

.onde-estamos iframe {
    width: 100%;
    height: 210px;
    margin: 20px 0;
    border-radius: 5px;
}

.onde-estamos li {
    color: #8873FF;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.onde-estamos p {
    text-align: center;
    color: #ddd;
}

/* NOSSOS PRODUTOS - SIDE BAR */

.nossos-produtos {
    width: 30%;
    float: right;
    padding: 15px 20px;
    background-color: #111;
    border-radius: 10px;
    margin-top: 20px;
}

.nossos-produtos h2 {
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
}

.nossos-produtos div {
    width: 80%;
    background-color: #F0D832;
    border-radius: 15px;
    margin-left: 10%;
    margin-bottom: 20px;
}

.nossos-produtos img {
    width: 80%;
    margin-left: 10%;
    margin-top: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.nossos-produtos p {
    text-align: center;
    margin: 10px;
    color: #111;
}

.nossos-produtos button {
    width: 80%;
    height: 40px;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 30px;
    cursor: pointer;
}

.preco {
    color: #111;
    font-size: 2em;
}

.nossos-produtos h3 {
    color: #111;
    margin: 10px 0;
    text-align: center;
    font-size: 2em;
    font-style: bould;
}

.nossos-produtos a {
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
}

/* NEWSLETTER */

.newsletter {
    width: 100%;
    float: left;
    background-color: #111;
    padding: 50px 8%;
}

.newsletter h3 {
    font-size: 1.8em;
    color: #fff;
}

.newsletter p {
    font-size: 1.2em;
    color: #fff;
}

.newsletter form {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.newsletter input {
    width: 40%;
    margin-right: 1%;
    padding: 15px 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: initial;
    color: #fff;
}

.newsletter input::placeholder {
    color: #8873FF;
}

.newsletter button {
    width: 17%;
    background-color: #fff;
    padding: 15px 10px;
    border-radius: 10px;
    float: right;
    cursor: pointer;
}

.newsletter input:focus {
    border-color: #4F32F0;
    box-shadow: 1px 1px 4px #4F32F0;
    transition: 0.3s;
}

/* RODAPÉ */

.rodape {
    width: 100%;
    float: left;
    background-color: #220BA3;
    padding: 25px 8%;
}

.rodape p {
    color: #fff;
}

/* Contato */
/* Titulo  */
#principal {
    width: 100%;
    padding: 100px;
    float: left;
}

#principal h1 {
    text-align: center;
    font-size: 60pt;
}

#principal p {
    font-size: 18pt;
    text-align: center;
    color: rgba(79, 50, 240, 1);
    font-family: 'Bebas Neue', cursive;
}

/* Formulario  */
#principal form {
    float: left;
    width: 100%;
    padding: 20px 8%;
}

#forms {
    margin-top: 100px;
    text-align: center;
}

#formulario {
    border-bottom: 1px solid #4F32F0;
    margin-right: 50px;
    width: 300px;
    margin-bottom: 5%;
    font-size: 13pt;
    height: 20%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px;
}

#formulario2 {
    margin-right: 0px;
    border-bottom: 1px solid #4F32F0;
    width: 300px;
    height: 20%;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px;
}

#formulario::placeholder {
    font-size: 14pt;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: black;
}

#formulario2::placeholder {
    font-size: 14pt;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: black;
}

#formulario:focus {
    background-color: rgba(79, 50, 240, 0.3);
    transition: 1s;
}

#formulario2:focus {
    background-color: rgba(79, 50, 240, 0.3);
    transition: 1s;
}

#comentario {
    width: 50%;
    border: 1px solid #4F32F0;
    margin-top: 40px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-bottom: 100px;
    padding-left: 10px;
}

#principal button {
    margin-top: 50px;
    margin: 20px auto;
    padding: 10px 30px;
    background-color: #4e32f0be;
    color: white;
    cursor: pointer;
}

#principal button:hover {
    background-color: #2f0df3;
    transition: 1s;
}

/*Section Ouvidoria */
#ouvidoria {

    padding: 50px 15%;
    float: left;
    width: 100%;
}

#ouvidoria h2 {
    font-size: 40pt;
}

#ouvidoria img {
    width: 29%;
    float: left;
}

#info-ouvi {
    float: right;
    padding: 50px 2%;


}

#info-ouvi h3 {
    font-size: 20pt;
    color: #4f32f0;

}

#info-ouvi a {
    padding: 10px;
    font-size: 18pt;
    float: left;
    color: black;
    font-family: 'Bebas Neue', cursive;
}

/* PRODUTOS */

/* PRINCIPAL */

.titulo {
    text-align: center;
    padding: 300px 0 50px 0;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    ;
}

.titulo h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5em;
}

.titulo p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

/* FOTOS DE PRODUTOS */

.produtos {
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10%;

}

.preco {
    color: grey;
    font-size: 22px;
}

.produto {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: 'Roboto'sans-serif;
    width: 100%;
    border-radius: 10px 10px;
}


.produto button {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 0px 0px 10px 10px;
}

.produto button:hover {
    opacity: 0.7;
}

.produto img {
    width: 175px;
    height: auto;
}

.produto a {
    color: #fff;
    padding: 10px 15px 10px 15px;
    display: block;
    text-decoration: none;
}

.produto a:hover {
    color: #ffffff;
}

.produto li {
    background-color: #220BA3;
    display: block;
    float: left;
    width: inherit;
    height: auto;
    color: #fff;
    padding: 10px 15px 10px 15px;
    display: block;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.produto li:hover {
    background-color: #0072BA;
}

.produto ul {
    padding: 0;
    margin: 0
}

.produto li ul li {
    float: none;
    display: block;
    width: auto;
    height: auto;
}

.produto li ul {
    display: none;
    z-index: 1;
    position: absolute;
}

.produto li:hover ul {
    display: block;
}

.rodapeprod {
    margin-top: 260px;
    width: 100%;
    float: left;
    background-color: #220BA3;
    padding: 25px 8%;
}

.rodapeprod p {
    text-align: center;
    color: #fff;
}


/* PRINCIPAL SERVIÇOS */
.principal {
    width: 100%;
    float: right;
    padding: 16px 8%;
}

.servicos {
    width: 100%;
    float: left;
    padding: 0px 20px 40px 0px;
}

.servicos h2 {
    margin-bottom: 40px;
}

.servicos img {
    width: 30%;
    float: left;
    border-radius: 4px;
    margin: 0 15px 0;
}

.servicos p {
    text-align: justify;
    font-size: 1.2em;
}

.tamanho {
    width: 200px;
    height: 270px;
}

@media screen and (max-width:320px) {

    .cabecalho {
        width: 100%;
        float: left;
        padding: 50px 8%;
        background-image: linear-gradient(to right, #4F32F0, #8873FF);
        padding-bottom: initial;
    }

    .logo a {
        width: 84px;
        height: 97px;
        float: left;
        background-image: url(../Imagem/macabro.jpg);
        font-size: 0;
        border-radius: 10px;
    }

    .cabecalho form {
        width: 100%;
        float: right;
        margin-top: 0;
    }

    .cabecalho input[type="text"] {
        width: 80%;
        float: left;
        padding: 15px 10px;
        border-radius: 10px 0px 0px 10px;
        margin-top: 0;
        margin-bottom: 50px;
    }

    .cabecalho button {
        width: 20%;
        float: right;
        padding: 15px 10px;
        border-radius: 0px 10px 10px 0px;
        background-color: #4F32F0;
        color: white;
        cursor: pointer;
        margin-top: 0;
        margin-bottom: 50px;
    }

    .cabecalho h2 {
        font-family: 'Teko', sans-serif;
        float: left;
        color: #fff;
        font-size: 6em;
        margin-top: 3px;
        margin-left: 25px;
    }

    /* MENU */

    .menu {
        width: 100%;
        float: left;
        background-color: #111;
        padding: 0;
        margin-bottom: 25px;
    }

    .menu li {
        float: left;
        margin-top: 20px;
        margin-bottom: 10px;

    }

    .menu li a {
        color: #9d9d9d;
        padding: 18px;
    }

    .menu li a:hover {
        color: #fff;
        background-color: #4F32F0;
        max-height: 100%;
        transition: 0.5s;
    }

    /* SOCIAL ICONS */

    .social-icons {
        float: left;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 11pt;
    }

    .social-icons a {

        color: #fff;
        float: left;
        margin-left: 25px;
    }

    .social-icons .fa-facebook-square:hover {
        color: #3b5998;
    }

    .social-icons .fa-twitter-square:hover {
        color: #1DA1F2;
    }

    .social-icons .fa-instagram:hover {
        background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    }

    .social-icons .fa-envelope:hover {
        color: yellow;
    }

    .social-icons .fa-google:hover {
        color: #FF0000;
    }

    .social-icons .fa-youtube-square:hover {
        color: #FF0000;
    }

    .social-icons .fa-linkedin:hover {
        color: #0077b5;
    }


    /* Contato */
    /* Titulo  */
    #principal {
        width: 100%;
        float: left;
        padding: 90px 10px;
    }

    #principal h1 {
        text-align: center;
        font-size: 40pt;
    }

    #principal p {
        font-size: 13pt;
        text-align: center;
        color: rgba(79, 50, 240, 1);
        font-family: 'Bebas Neue', cursive;
    }

    /* Formulario  */
    #principal form {
        float: left;
        width: 100%;

    }

    #forms {
        margin-top: 100px;
        text-align: center;
    }

    #formulario {
        border-bottom: 1px solid #4F32F0;

        width: 100%;
        margin-bottom: 5%;
        font-size: 13pt;

        font-family: Arial, Helvetica, sans-serif;
        padding: 7px;
    }

    #formulario2 {
        margin-right: 0px;
        border-bottom: 1px solid #4F32F0;
        width: 100%;
        font-size: 14pt;
        font-family: Arial, Helvetica, sans-serif;
        padding: 7px;
    }

    #formulario::placeholder {
        font-size: 14pt;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        color: black;
    }

    #formulario2::placeholder {
        font-size: 14pt;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        color: black;
    }

    #formulario:focus {
        background-color: rgba(79, 50, 240, 0.3);
        transition: 1s;
    }

    #formulario2:focus {
        background-color: rgba(79, 50, 240, 0.3);
        transition: 1s;
    }

    #comentario {
        width: 100%;
        border: 1px solid #4F32F0;
        margin-top: 40px;
        height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        padding-bottom: 100px;
        padding-left: 10px;
    }

    #principal button {
        margin-top: 50px;
        margin: 20px auto;
        padding: 10px 30px;
        background-color: #4e32f0be;
        color: white;
        cursor: pointer;
    }

    #principal button:hover {
        background-color: #2f0df3;
        transition: 1s;
    }

    /*Section Ouvidoria */
    #ouvidoria {

        float: left;
        width: 100%;
    }

    #ouvidoria h2 {
        font-size: 40pt;
    }

    #ouvidoria img {
        width: 50%;
        float: left;
    }

    #info-ouvi {
        width: 100%;
        text-align: center;


    }

    #info-ouvi h3 {
        font-size: 20pt;
        color: #4f32f0;
        margin-bottom: 10px;

    }

    #info-ouvi a {
        padding: 10px;
        font-size: 1pt;
        float: left;
        color: black;
        font-family: 'Bebas Neue', cursive;
    }



}

@media screen and (max-width:375px) {



    .cabecalho {
        width: 100%;
        float: left;
        padding: 50px 8%;
        background-image: linear-gradient(to right, #4F32F0, #8873FF);
        padding-bottom: initial;
    }

    .logo {
        display: flex;
        justify-content: center;

    }

    .logo a {
        width: 84px;
        height: 97px;
        float: left;
        background-image: url(../Imagem/macabro.jpg);
        font-size: 0;
        border-radius: 10px;


    }

    .cabecalho form {
        width: 100%;
        float: right;
        margin-top: 0;
    }

    .cabecalho input[type="text"] {
        width: 80%;
        float: left;
        padding: 15px 10px;
        border-radius: 10px 0px 0px 10px;
        margin-top: 0;
        margin-bottom: 50px;
    }

    .cabecalho button {
        width: 20%;
        float: right;
        padding: 15px 10px;
        border-radius: 0px 10px 10px 0px;
        background-color: #4F32F0;
        color: white;
        cursor: pointer;
        margin-top: 0;
        margin-bottom: 50px;
    }

    .cabecalho a {
        display: flex;
        justify-content: center;
    }

    .cabecalho h2 {
        font-family: 'Teko', sans-serif;
        color: #fff;
        font-size: 6em;
        margin-top: 3px;
        text-align: center;


    }

    /* MENU */

    .menu {
        width: 100%;
        float: left;
        background-color: #111;
        padding: 0px 20px;
        margin-bottom: 25px;
    }

    .menu li {
        float: left;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .menu li a {
        color: #9d9d9d;
        padding: 18px;
    }

    .menu li a:hover {
        color: #fff;
        background-color: #4F32F0;
        max-height: 100%;
        transition: 0.5s;
    }

    /* SOCIAL ICONS */

    .social-icons {
        float: left;
        margin-top: 20px;

        margin-bottom: 20px;
    }

    .social-icons a {
        color: #fff;
        float: left;
        margin-left: 25px;
    }

    .social-icons .fa-facebook-square:hover {
        color: #3b5998;
    }

    .social-icons .fa-twitter-square:hover {
        color: #1DA1F2;
    }

    .social-icons .fa-instagram:hover {
        background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    }

    .social-icons .fa-envelope:hover {
        color: yellow;
    }

    .social-icons .fa-google:hover {
        color: #FF0000;
    }

    .social-icons .fa-youtube-square:hover {
        color: #FF0000;
    }

    .social-icons .fa-linkedin:hover {
        color: #0077b5;
    }



    /* Titulo  */
    #principal {
        width: 100%;
        float: left;
        padding: 90px 10px;
    }

    #principal h1 {
        text-align: center;
        font-size: 40pt;
    }

    #principal p {
        font-size: 13pt;
        text-align: center;
        color: rgba(79, 50, 240, 1);
        font-family: 'Bebas Neue', cursive;
    }

    /* Formulario  */
    #principal form {
        float: left;
        width: 100%;

    }

    #forms {
        margin-top: 100px;
        text-align: center;
    }

    #formulario {
        border-bottom: 1px solid #4F32F0;
        width: 100%;
        margin-bottom: 5%;
        font-size: 13pt;

        font-family: Arial, Helvetica, sans-serif;
        padding: 7px;
    }

    #formulario2 {
        margin-right: 0px;
        border-bottom: 1px solid #4F32F0;
        width: 100%;
        font-size: 14pt;
        font-family: Arial, Helvetica, sans-serif;
        padding: 7px;
    }

    #formulario::placeholder {
        font-size: 14pt;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        color: black;
    }

    #formulario2::placeholder {
        font-size: 14pt;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        color: black;
    }

    #formulario:focus {
        background-color: rgba(79, 50, 240, 0.3);
        transition: 1s;
    }

    #formulario2:focus {
        background-color: rgba(79, 50, 240, 0.3);
        transition: 1s;
    }

    #comentario {
        width: 100%;
        border: 1px solid #4F32F0;
        margin-top: 40px;
        height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        padding-bottom: 100px;
        padding-left: 10px;
    }

    #principal button {
        margin-top: 50px;
        margin: 20px auto;
        padding: 10px 30px;
        background-color: #4e32f0be;
        color: white;
        cursor: pointer;
    }

    #principal button:hover {
        background-color: #2f0df3;
        transition: 1s;
    }

    /*Section Ouvidoria */
    #ouvidoria {
        padding: 50px;
        float: left;
        width: 100%;
    }

    #ouvidoria h2 {
        font-size: 40pt;
    }

    #ouvidoria img {
        width: 50%;
        float: left;
    }

    #info-ouvi {
        width: 100%;
        padding: 50px 15%;
        text-align: center;


    }

    #info-ouvi h3 {
        font-size: 20pt;
        color: #4f32f0;
        margin-bottom: 10px;

    }

    #info-ouvi a {
        padding: 10px;
        font-size: 13pt;
        float: left;
        color: black;
        font-family: 'Bebas Neue', cursive;

    }
}

@media screen and (max-width:425px) {

    .servicos {
        width: 100%;
        float: left;
        padding: 0px 20px 40px 0px;
    }

    .servicos h2 {
        margin-bottom: 40px;
    }

    .servicos img {
        width: 100%;
        float: left;
        border-radius: 4px;
        margin: 0 15px 0;
    }

    .servicos p {
        text-align: center;
        font-size: 1.2em;
    }

    .tamanho {
        width: 200px;
        height: 270px;

    }

    .produtos {
        margin: 5% !important;
        display: grid !important;
        grid-template-columns: 1fr !important;
        grid-gap: 2% !important;
    }

    .rodapeprod {
        margin-top: 1000px !important;
        width: 100%;
        float: left;
        background-color: #220BA3;
        padding: 25px 8%;
    }

    .rodapeprod p {
        text-align: center;
        color: #fff;
    }

    .cabecalho {
        width: 100%;
        float: left;
        padding: 50px 8%;
        background-image: linear-gradient(to right, #4F32F0, #8873FF);
        padding-bottom: initial;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .logo a {
        width: 84px;
        height: 97px;
        float: left;
        background-image: url(../Imagem/macabro.jpg);
        font-size: 0;
        border-radius: 10px;
    }

    .cabecalho form {
        width: 100%;
        float: right;
        margin-top: 0;
    }

    .cabecalho input[type="text"] {
        width: 80%;
        float: left;
        padding: 15px 10px;
        border-radius: 10px 0px 0px 10px;
        margin-top: 0;
        margin-bottom: 50px;
    }

    .cabecalho button {
        width: 20%;
        float: right;
        padding: 15px 10px;
        border-radius: 0px 10px 10px 0px;
        background-color: #4F32F0;
        color: white;
        cursor: pointer;
        margin-top: 0;
        margin-bottom: 50px;
    }

    .cabecalho h2 {
        font-family: 'Teko', sans-serif;
        float: left;
        color: #fff;
        font-size: 6em;
        margin-top: 3px;
        margin-left: 25px;
        text-align: center;
    }

    /* MENU */

    .menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #111;
        padding: 0;
        margin-bottom: 25px;
    }

    .menu ul {
        justify-content: center;
        display: flex;
    }

    .menu li {

        margin-top: 20px;
        margin-bottom: 10px;


    }

    .menu li a {
        color: #9d9d9d;
        padding: 18px;
    }

    .menu li a:hover {
        color: #fff;
        background-color: #4F32F0;
        max-height: 100%;
        transition: 0.5s;
    }

    /* SOCIAL ICONS */

    .social-icons {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 11pt;
        justify-content: center;
    }

    .social-icons a {

        color: #fff;
        float: left;
        margin-left: 25px;
    }

    .social-icons .fa-facebook-square:hover {
        color: #3b5998;
    }

    .social-icons .fa-twitter-square:hover {
        color: #1DA1F2;
    }

    .social-icons .fa-instagram:hover {
        background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    }

    .social-icons .fa-envelope:hover {
        color: yellow;
    }

    .social-icons .fa-google:hover {
        color: #FF0000;
    }

    .social-icons .fa-youtube-square:hover {
        color: #FF0000;
    }

    .social-icons .fa-linkedin:hover {
        color: #0077b5;
    }

    /* Titulo  */
    #principal {
        width: 100%;
        float: left;
        padding: 90px 10px;
    }

    #principal h1 {
        text-align: center;
        font-size: 40pt;
    }

    #principal p {
        font-size: 13pt;
        text-align: center;
        color: rgba(79, 50, 240, 1);
        font-family: 'Bebas Neue', cursive;
    }

    /* Formulario  */
    #principal form {
        float: left;
        width: 100%;

    }

    #forms {
        margin-top: 100px;
        text-align: center;
    }

    #formulario {
        border-bottom: 1px solid #4F32F0;
        width: 100%;
        margin-bottom: 5%;
        font-size: 13pt;

        font-family: Arial, Helvetica, sans-serif;
        padding: 7px;
    }

    #formulario2 {
        margin-right: 0px;
        border-bottom: 1px solid #4F32F0;
        width: 100%;
        font-size: 14pt;
        font-family: Arial, Helvetica, sans-serif;
        padding: 7px;
    }

    #formulario::placeholder {
        font-size: 14pt;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        color: black;
    }

    #formulario2::placeholder {
        font-size: 14pt;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        color: black;
    }

    #formulario:focus {
        background-color: rgba(79, 50, 240, 0.3);
        transition: 1s;
    }

    #formulario2:focus {
        background-color: rgba(79, 50, 240, 0.3);
        transition: 1s;
    }

    #comentario {
        width: 100%;
        border: 1px solid #4F32F0;
        margin-top: 40px;
        height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        padding-bottom: 100px;
        padding-left: 10px;
    }

    #principal button {
        margin-top: 50px;
        margin: 20px auto;
        padding: 10px 30px;
        background-color: #4e32f0be;
        color: white;
        cursor: pointer;
    }

    #principal button:hover {
        background-color: #2f0df3;
        transition: 1s;
    }

    /*Section Ouvidoria */
    #ouvidoria {
        text-align: center;
        padding: 50px;
        float: left;
        width: 100%;
    }

    #ouvidoria h2 {
        font-size: 40pt;
    }

    #ouvidoria img {
        width: 80%;

        margin: auto 10%;
    }

    #info-ouvi {
        width: 100%;
        padding: 50px 15%;
        text-align: center;


    }

    #info-ouvi h3 {
        font-size: 20pt;
        color: #4f32f0;
        margin-bottom: 10px;

    }

    #info-ouvi a {
        padding: 10px;
        font-size: 13pt;
        color: black;
        font-family: 'Bebas Neue', cursive;

    }



}

@media screen and (max-width:768px) {

    .principal {
        width: 100%;
        float: right;
        padding: 16px 8%;
    }

    .servicos {
        width: 100%;
        float: left;
        padding: 0px 20px 40px 0px;
    }

    .servicos h2 {
        margin-bottom: 40px;
    }

    .servicos img {
        width: 100%;
        float: left;
        border-radius: 4px;
        margin: 0 15px 0;
    }

    .servicos p {
        text-align: center;
        font-size: 1.2em;
    }

    .tamanho {
        width: 200px;
        height: 270px;

    }

    /* Contato */
    /* Titulo  */
    #principal {
        width: 100%;
        float: left;
        padding: 90px 10px;
    }

    #principal h1 {
        text-align: center;
        font-size: 40pt;
    }

    #principal p {
        font-size: 13pt;
        text-align: center;
        color: rgba(79, 50, 240, 1);
        font-family: 'Bebas Neue', cursive;
    }

    /* Formulario  */
    #principal form {
        float: left;
        width: 100%;

    }

    #forms {
        margin-top: 100px;
        text-align: center;
    }

    #formulario {
        border-bottom: 1px solid #4F32F0;
        width: 100%;
        margin-bottom: 5%;
        font-size: 13pt;

        font-family: Arial, Helvetica, sans-serif;
        padding: 7px;
    }

    #formulario2 {
        margin-right: 0px;
        border-bottom: 1px solid #4F32F0;
        width: 100%;
        font-size: 14pt;
        font-family: Arial, Helvetica, sans-serif;
        padding: 7px;
    }

    #formulario::placeholder {
        font-size: 14pt;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        color: black;
    }

    #formulario2::placeholder {
        font-size: 14pt;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        color: black;
    }

    #formulario:focus {
        background-color: rgba(79, 50, 240, 0.3);
        transition: 1s;
    }

    #formulario2:focus {
        background-color: rgba(79, 50, 240, 0.3);
        transition: 1s;
    }

    #comentario {
        width: 100%;
        border: 1px solid #4F32F0;
        margin-top: 40px;
        height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        padding-bottom: 100px;
        padding-left: 10px;
    }

    #principal button {
        margin-top: 50px;
        margin: 20px auto;
        padding: 10px 30px;
        background-color: #4e32f0be;
        color: white;
        cursor: pointer;
    }

    #principal button:hover {
        background-color: #2f0df3;
        transition: 1s;
    }

    /*Section Ouvidoria */
    #ouvidoria {
        text-align: center;
        padding: 50px;
        float: left;
        width: 100%;
    }

    #ouvidoria h2 {
        font-size: 40pt;
    }

    #ouvidoria img {
        width: 40%;
        margin: auto 33%;

    }

    #info-ouvi {
        width: 100%;
        padding: 50px 20%;
        text-align: center;


    }

    #info-ouvi h3 {
        font-size: 20pt;
        color: #4f32f0;
        margin-bottom: 10px;

    }

    #info-ouvi a {
        padding: 10px;
        font-size: 18pt;
        color: black;
        font-family: 'Bebas Neue', cursive;

    }



}

@media screen and (max-width:784px) {


    /* Titulo  */

    .cabecalho {
        width: 100%;
        float: left;
        padding: 50px 8%;
        background-image: linear-gradient(to right, #4F32F0, #8873FF);
        padding-bottom: initial;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .logo a {
        width: 84px;
        height: 97px;
        float: left;
        background-image: url(../Imagem/macabro.jpg);
        font-size: 0;
        border-radius: 10px;
    }

    .cabecalho form {
        width: 100%;
        float: right;
        margin-top: 0;
    }

    .cabecalho input[type="text"] {
        width: 80%;
        float: left;
        padding: 15px 10px;
        border-radius: 10px 0px 0px 10px;
        margin-top: 0;
        margin-bottom: 50px;
    }

    .cabecalho button {
        width: 20%;
        float: right;
        padding: 15px 10px;
        border-radius: 0px 10px 10px 0px;
        background-color: #4F32F0;
        color: white;
        cursor: pointer;
        margin-top: 0;
        margin-bottom: 50px;
    }

    .cabecalho h2 {
        font-family: 'Teko', sans-serif;
        float: left;
        color: #fff;
        width: 100%;
        font-size: 6em;
        margin-top: 3px;
        margin-left: 25px;
        text-align: center;
    }

    /* MENU */

    .menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #111;
        padding: 0;
        margin-bottom: 25px;
    }

    .menu ul {
        justify-content: center;
        display: flex;
    }

    .menu li {

        margin-top: 20px;
        margin-bottom: 10px;


    }

    .menu li a {
        color: #9d9d9d;
        padding: 18px;
    }

    .menu li a:hover {
        color: #fff;
        background-color: #4F32F0;
        max-height: 100%;
        transition: 0.5s;
    }

    /* SOCIAL ICONS */

    .social-icons {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 11pt;
        justify-content: center;
    }

    .social-icons a {

        color: #fff;
        float: left;
        margin-left: 25px;
    }

    .social-icons .fa-facebook-square:hover {
        color: #3b5998;
    }

    .social-icons .fa-twitter-square:hover {
        color: #1DA1F2;
    }

    .social-icons .fa-instagram:hover {
        background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    }

    .social-icons .fa-envelope:hover {
        color: yellow;
    }

    .social-icons .fa-google:hover {
        color: #FF0000;
    }

    .social-icons .fa-youtube-square:hover {
        color: #FF0000;
    }

    .social-icons .fa-linkedin:hover {
        color: #0077b5;
    }

    #principal {
        width: 100%;
        float: left;
        padding: 90px 10px;
    }

    #principal h1 {
        text-align: center;
        font-size: 40pt;
    }

    #principal p {
        font-size: 13pt;
        text-align: center;
        color: rgba(79, 50, 240, 1);
        font-family: 'Bebas Neue', cursive;
    }

    /* Formulario  */
    #principal form {
        float: left;
        width: 100%;

    }

    #forms {
        margin-top: 100px;
        text-align: center;
    }

    #formulario {
        border-bottom: 1px solid #4F32F0;
        width: 100%;
        margin-bottom: 5%;
        font-size: 13pt;

        font-family: Arial, Helvetica, sans-serif;
        padding: 7px;
    }

    #formulario2 {
        margin-right: 0px;
        border-bottom: 1px solid #4F32F0;
        width: 100%;
        font-size: 14pt;
        font-family: Arial, Helvetica, sans-serif;
        padding: 7px;
    }

    #formulario::placeholder {
        font-size: 14pt;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        color: black;
    }

    #formulario2::placeholder {
        font-size: 14pt;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        color: black;
    }

    #formulario:focus {
        background-color: rgba(79, 50, 240, 0.3);
        transition: 1s;
    }

    #formulario2:focus {
        background-color: rgba(79, 50, 240, 0.3);
        transition: 1s;
    }

    #comentario {
        width: 100%;
        border: 1px solid #4F32F0;
        margin-top: 40px;
        height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        padding-bottom: 100px;
        padding-left: 10px;
    }

    #principal button {
        margin-top: 50px;
        margin: 20px auto;
        padding: 10px 30px;
        background-color: #4e32f0be;
        color: white;
        cursor: pointer;
    }

    #principal button:hover {
        background-color: #2f0df3;
        transition: 1s;
    }

    /*Section Ouvidoria */
    #ouvidoria {
        text-align: center;
        padding: 50px;
        float: left;
        width: 100%;
    }

    #ouvidoria h2 {
        font-size: 40pt;
    }

    #ouvidoria img {
        width: 40%;
        margin: auto 33%;

    }

    #info-ouvi {
        width: 100%;
        padding: 50px 20%;
        text-align: center;


    }

    #info-ouvi h3 {
        font-size: 20pt;
        color: #4f32f0;
        margin-bottom: 10px;

    }

    #info-ouvi a {
        padding: 10px;
        font-size: 18pt;
        color: black;
        font-family: 'Bebas Neue', cursive;

    }



}

@media screen and (max-width:768px) {


    /* Contato */
    /* Titulo  */
    #principal {
        width: 100%;
        float: left;
        padding: 90px 10px;
    }

    #principal h1 {
        text-align: center;
        font-size: 40pt;
    }

    #principal p {
        font-size: 13pt;
        text-align: center;
        color: rgba(79, 50, 240, 1);
        font-family: 'Bebas Neue', cursive;
    }

    /* Formulario  */
    #principal form {
        float: left;
        width: 100%;
    }

    #forms {
        margin-top: 100px;
        text-align: center;
    }

    #formulario {
        border-bottom: 1px solid #4F32F0;
        width: 100%;
        margin-bottom: 5%;
        font-size: 13pt;

        font-family: Arial, Helvetica, sans-serif;
        padding: 7px;
    }

    #formulario2 {
        margin-right: 0px;
        border-bottom: 1px solid #4F32F0;
        width: 100%;
        font-size: 14pt;
        font-family: Arial, Helvetica, sans-serif;
        padding: 7px;
    }

    #formulario::placeholder {
        font-size: 14pt;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        color: black;
    }

    #formulario2::placeholder {
        font-size: 14pt;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        color: black;
    }

    #formulario:focus {
        background-color: rgba(79, 50, 240, 0.3);
        transition: 1s;
    }

    #formulario2:focus {
        background-color: rgba(79, 50, 240, 0.3);
        transition: 1s;
    }

    #comentario {
        width: 100%;
        border: 1px solid #4F32F0;
        margin-top: 40px;
        height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        padding-bottom: 100px;
        padding-left: 10px;
    }

    #principal button {
        margin-top: 50px;
        margin: 20px auto;
        padding: 10px 30px;
        background-color: #4e32f0be;
        color: white;
        cursor: pointer;
    }

    #principal button:hover {
        background-color: #2f0df3;
        transition: 1s;
    }

    /*Section Ouvidoria */
    #ouvidoria {
        text-align: center;
        padding: 50px;
        float: left;
        width: 100%;
    }

    #ouvidoria h2 {
        font-size: 40pt;
    }

    #ouvidoria img {
        width: 40%;
        margin: auto 33%;
    }

    #info-ouvi {
        width: 100%;
        padding: 50px 20%;
        text-align: center;
    }

    #info-ouvi h3 {
        font-size: 20pt;
        color: #4f32f0;
        margin-bottom: 10px;
    }

    #info-ouvi a {
        padding: 10px;
        font-size: 18pt;
        color: black;
        font-family: 'Bebas Neue', cursive;
    }

    .sobre {
        width: auto;
    }

    .sobre p {
        font-size: 1em;
    }

    .onde-estamos {
        width: auto;
    }

    .nossos-produtos {
        width: auto;
    }

    .newsletter input {
        width: 100%;
        margin-bottom: 7px;
    }

    .newsletter button {
        width: 80%;
        margin-right: 10%;
    }

    .avaliacao p {
        font-size: 1em;
        padding: 0;
        width: 100%;
    }

    .avaliacao img {
        display: none;
    }
}

@media screen and (max-width:1024px) {

    .produtos {
        margin: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2%;
    }

    .rodapeprod {
        margin-top: 300px;
        width: 100%;
        float: left;
        background-color: #220BA3;
        padding: 25px 8%;
    }

    .rodapeprod p {
        text-align: center;
        color: #fff;
    }


    /* Titulo  */

    .cabecalho {
        width: 100%;
        float: left;
        padding: 50px 8%;
        background-image: linear-gradient(to right, #4F32F0, #8873FF);
        padding-bottom: initial;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .logo a {
        width: 84px;
        height: 97px;
        float: left;
        background-image: url(../Imagem/macabro.jpg);
        font-size: 0;
        border-radius: 10px;
    }

    .cabecalho form {
        width: 100%;
        float: right;
        margin-top: 0;
    }

    .cabecalho input[type="text"] {
        width: 80%;
        float: left;
        padding: 15px 10px;
        border-radius: 10px 0px 0px 10px;
        margin-top: 0;
        margin-bottom: 50px;
    }

    .cabecalho button {
        width: 20%;
        float: right;
        padding: 15px 10px;
        border-radius: 0px 10px 10px 0px;
        background-color: #4F32F0;
        color: white;
        cursor: pointer;
        margin-top: 0;
        margin-bottom: 50px;
    }

    .cabecalho h2 {
        font-family: 'Teko', sans-serif;
        float: left;
        color: #fff;
        width: 100%;
        font-size: 6em;
        margin-top: 3px;
        margin-left: 25px;
        text-align: center;
    }

    /* MENU */

    .menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #111;
        padding: 0;
        margin-bottom: 25px;
    }

    .menu ul {
        justify-content: center;
        display: flex;
    }

    .menu li {

        margin-top: 20px;
        margin-bottom: 10px;


    }

    .menu li a {
        color: #9d9d9d;
        padding: 18px;
    }

    .menu li a:hover {
        color: #fff;
        background-color: #4F32F0;
        max-height: 100%;
        transition: 0.5s;
    }

    /* SOCIAL ICONS */

    .social-icons {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 11pt;
        justify-content: center;
    }

    .social-icons a {

        color: #fff;
        float: left;
        margin-left: 25px;
    }

    .social-icons .fa-facebook-square:hover {
        color: #3b5998;
    }

    .social-icons .fa-twitter-square:hover {
        color: #1DA1F2;
    }

    .social-icons .fa-instagram:hover {
        background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    }

    .social-icons .fa-envelope:hover {
        color: yellow;
    }

    .social-icons .fa-google:hover {
        color: #FF0000;
    }

    .social-icons .fa-youtube-square:hover {
        color: #FF0000;
    }

    .social-icons .fa-linkedin:hover {
        color: #0077b5;
    }

    #principal {
        width: 100%;
        float: left;
        padding: 90px 10px;
    }

    #principal h1 {
        text-align: center;
        font-size: 40pt;
    }

    #principal p {
        font-size: 13pt;
        text-align: center;
        color: rgba(79, 50, 240, 1);
        font-family: 'Bebas Neue', cursive;
    }

    /* Formulario  */
    #principal form {
        float: left;
        width: 100%;
    }

    #forms {
        margin-top: 100px;
        text-align: center;
    }

    #formulario {
        border-bottom: 1px solid #4F32F0;
        width: 100%;
        margin-bottom: 5%;
        font-size: 13pt;

        font-family: Arial, Helvetica, sans-serif;
        padding: 7px;
    }

    #formulario2 {
        margin-right: 0px;
        border-bottom: 1px solid #4F32F0;
        width: 100%;
        font-size: 14pt;
        font-family: Arial, Helvetica, sans-serif;
        padding: 7px;
    }

    #formulario::placeholder {
        font-size: 14pt;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        color: black;
    }

    #formulario2::placeholder {
        font-size: 14pt;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        color: black;
    }

    #formulario:focus {
        background-color: rgba(79, 50, 240, 0.3);
        transition: 1s;
    }

    #formulario2:focus {
        background-color: rgba(79, 50, 240, 0.3);
        transition: 1s;
    }

    #comentario {
        width: 100%;
        border: 1px solid #4F32F0;
        margin-top: 40px;
        height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        padding-bottom: 100px;
        padding-left: 10px;
    }

    #principal button {
        margin-top: 50px;
        margin: 20px auto;
        padding: 10px 30px;
        background-color: #4e32f0be;
        color: white;
        cursor: pointer;
    }

    #principal button:hover {
        background-color: #2f0df3;
        transition: 1s;
    }

    /*Section Ouvidoria */
    #ouvidoria {
        text-align: center;
        padding: 50px;
        float: left;
        width: 100%;
    }

    #ouvidoria h2 {
        font-size: 40pt;
    }

    #ouvidoria img {
        width: 40%;
        margin: auto 33%;
    }

    #info-ouvi {
        width: 100%;
        padding: 50px 20%;
        text-align: center;
    }

    #info-ouvi h3 {
        font-size: 20pt;
        color: #4f32f0;
        margin-bottom: 10px;
    }

    #info-ouvi a {
        padding: 10px;
        font-size: 18pt;
        color: black;
        font-family: 'Bebas Neue', cursive;
    }

    .avaliacao {
        border: none;
    }
}